BehaviorWorkFlow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "behavior-tracking",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "id": "webhook-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.body.user_id }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Filter: Valid Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        200
      ],
      "id": "filter-data"
    },
    {
      "parameters": {
        "jsCode": "const body = $node['Filter: Valid Data'].json.body;\nconst action = body.action_type;\nconst serviceType = body.service_type || null;\n\nlet baseScore = 0;\n// Logic tính điểm theo mức độ quan tâm\nif (action === 'view_service') baseScore = 15;\nelse if (action === 'like_post') baseScore = 8;\nelse if (action === 'comment_post') baseScore = 10;\nelse if (action === 'view_post') baseScore = 5;\nelse baseScore = 1;\n\n// Bonus điểm dựa trên thời gian xem (dwell_time)\nconst dwellTimeBonus = parseFloat(body.dwell_time || 0) / 5;\n\nconst totalScore = baseScore + dwellTimeBonus;\n\nreturn [{\n  json: {\n    user_id: body.user_id,\n    action_type: action,\n    service_type: serviceType,\n    location_id: body.location_id || null,\n    tags: body.tags || [],\n    score: totalScore\n  }\n}];"
      },
      "name": "Calculate Final Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "id": "calc-score"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://socialtravelbooking.click/api/internal/db/upsert-behavior",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"action_type\": \"{{ $json.action_type }}\",\n  \"service_type\": \"{{ $json.service_type }}\",\n  \"location_id\": {{ $json.location_id === null ? \"null\" : $json.location_id }},\n  \"tags\": {{ JSON.stringify($json.tags || []) }},\n  \"score\": {{ $json.score }}\n}",
        "options": {}
      },
      "name": "Laravel API: Upsert Behavior",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        850,
        200
      ],
      "id": "api-upsert"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "value": 5
            }
          ]
        }
      },
      "name": "Cron: Every 5 Mins",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        450
      ],
      "id": "cron-trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://socialtravelbooking.click/api/internal/db/process-bulk",
        "options": {}
      },
      "name": "Laravel API: Bulk Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        350,
        450
      ],
      "id": "api-bulk-process"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 3
            }
          ]
        }
      },
      "name": "Cron: Daily Cleanup",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        650
      ],
      "id": "cron-cleanup"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://socialtravelbooking.click/api/internal/db/cleanup",
        "options": {}
      },
      "name": "Laravel API: Cleanup Old",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        350,
        650
      ],
      "id": "api-cleanup"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Filter: Valid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Valid Data": {
      "main": [
        [
          {
            "node": "Calculate Final Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Final Score": {
      "main": [
        [
          {
            "node": "Laravel API: Upsert Behavior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron: Every 5 Mins": {
      "main": [
        [
          {
            "node": "Laravel API: Bulk Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron: Daily Cleanup": {
      "main": [
        [
          {
            "node": "Laravel API: Cleanup Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}